node_modules

bootstrapper
bootstrapper_contracts
bootstrapper_browser
bootstrapper_node
errors_ts
eslint-config
event_aggregator
event_aggregator_contracts
http
http_contracts
http_node
http_extension
iam
iam_contracts
identity_server
process_engine
process_engine_core
process_engine_contracts
sequelize_connection_manager
scheduler_contracts
scheduler_extension
services
services_contracts
skeleton
timing
timing_contracts
tslint-config

# OSX-finder info-files
*.DS_Store

# IDE configs
.vscode/*
!.vscode/launch.json
.idea/
*.iml
*.iws
.classpath
.project
.settings/

